@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}


/* header styles */
.header {
  @apply px-2 py-3 bg-white flex justify-between items-center border-b border-gray-200;
}

.header_title {
  @apply font-bold text-3xl text-indigo-900;
}

.header_right {
  @apply pr-3;
}

.header_left {
  @apply flex items-center gap-x-4;
}

.header_left_button {
  @apply p-3 rounded-xl text-gray-700 hover:bg-gray-700/10 transition-all duration-300;
}

/* banner styles */

.banner {
  @apply bg-white w-fit mx-auto flex items-center justify-center px-5 py-3 md:px-20 md:py-10 xl:px-28 xl:py-14 rounded-3xl my-5;
}

.banner_text {
  @apply text-center text-gray-700 text-base md:text-2xl font-bold leading-[1.6] xl:leading-[1.7];
}

/* landing styles */

.landing {
  @apply flex flex-col my-10 gap-y-10 md:gap-y-14 xl:gap-y-20;
}

.landing_title_container {
  @apply mx-auto flex flex-col gap-y-6 md:gap-y-10 xl:gap-y-12;
}

.landing_title {
  @apply text-indigo-900 text-2xl md:text-3xl xl:text-4xl font-bold;
}

.landing_title_gray {
  @apply text-gray-700 text-2xl md:text-3xl xl:text-4xl font-bold;
}

.landing_text {
  @apply text-gray-700 text-lg md:text-xl xl:text-2xl text-center;
}

.landing_button {
  @apply bg-white border-[.13rem] border-white w-fit px-10 py-5 rounded-2xl hover:border-indigo-900 transition-all duration-300 hover:bg-indigo-50 text-indigo-900 mx-auto flex flex-row gap-x-4 items-center;
}

.landing_button_text {
  font-size: 1.3rem;
  font-weight: 600;
}

/* footer styles */

.footer {
  @apply px-10 md:px-14 xl:px-20 py-5 md:py-10 xl:py-20 bg-white flex flex-col gap-10 md:gap-12 xl:gap-20 md:grid md:grid-cols-2 xl:grid-cols-3 border-t border-gray-200;
}

.footer_info {
  @apply flex flex-col gap-y-3 md:col-span-1;
}

.footer_about_quote {
  @apply text-indigo-900;
  font-size: 1.1rem;
  font-weight: 600;
}

.footer_about_desc {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify
}

.footer_info_contact_desc {
  @apply flex flex-col gap-y-2;
}

.footer_info_contact_item {
  @apply flex gap-x-2 items-center;
}

.footer_info_title {
  @apply flex items-center gap-x-2 text-indigo-900;
}

.footer_title {
  @apply text-lg sm:text-lg md:text-base xl:text-lg;
  /* font-size: 1.5rem; */
  font-weight: 600;
}

.footer_desc {
  font-size: 1rem;
  font-weight: 400;
}

.footer_copyright {
  @apply col-span-1 md:col-span-2 xl:col-span-3 text-center;
  font-size: .75rem;
  font-weight: 400;
}

.footer_socials_container {
  @apply flex flex-wrap gap-4;
}

.footer_social_link {
  @apply flex items-center border border-white transition-all duration-300 justify-center gap-x-2 text-base rounded-xl bg-white px-4 py-2;

  &:hover {
    @apply border-indigo-900 text-indigo-900;
  }
}

.footer_social_link_text {
  font-size: .9rem;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}


/* user shcemes */

/* gray scheme */
.user_avatar_gray_border {
  @apply border-gray-500;
}

.user_avatar_gray_bg {
  @apply bg-gray-100;
}

.user_avatar_gray_text {
  @apply text-gray-500;
}

/* blue scheme */
.user_avatar_blue_border {
  @apply border-blue-700;
}

.user_avatar_blue_bg {
  @apply bg-blue-50;
}

.user_avatar_blue_text {
  @apply text-blue-700;
}

/* red scheme */
.user_avatar_red_border {
  @apply border-red-600;
}

.user_avatar_red_bg {
  @apply bg-red-50;
}

.user_avatar_red_text {
  @apply text-red-600;
}

/* yellow scheme */
.user_avatar_yellow_border {
  @apply border-yellow-600;
}

.user_avatar_yellow_bg {
  @apply bg-yellow-50;
}

.user_avatar_yellow_text {
  @apply text-yellow-600;
}

/* orange scheme */
.user_avatar_orange_border {
  @apply border-orange-600;
}

.user_avatar_orange_bg {
  @apply bg-orange-50;
}

.user_avatar_orange_text {
  @apply text-orange-600;
}

/* green scheme */
.user_avatar_green_border {
  @apply border-green-700;
}

.user_avatar_green_bg {
  @apply bg-green-50;
}

.user_avatar_green_text {
  @apply text-green-700;
}

/* rose scheme */
.user_avatar_rose_border {
  @apply border-rose-500;
}

.user_avatar_rose_bg {
  @apply bg-rose-100;
}

.user_avatar_rose_text {
  @apply text-rose-500;
}

/* purple scheme */
.user_avatar_purple_border {
  @apply border-purple-700;
}

.user_avatar_purple_bg {
  @apply bg-purple-100;
}

.user_avatar_purple_text {
  @apply text-purple-700;
}